/* https://codepen.io/mobifreaks/pen/LIbca */
img
{
    max-width:180px;
}



/*
input[type=file]
{
  padding:10px;
} 
*/




/* https://css-tricks.com/snippets/css/comments-in-css/
input[type=file]
{
  padding:10px;
  background:#2d2d2d;
}
 */